<!DOCTYPE html>
<html ng-app="theStandApp">
<head>
  <title>Stadium App</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

  <script src="/node_modules/angular/angular.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <script src="../js/memory_controller"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href='https://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
  <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>





  <body>


  <nav class="navbar navbar-inverse navbar-fixed-top">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/parks_visited">Parks Visited</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
    <h2  id="title" style="color:white;  font-size: 17px; float:right; margin-right:5%; font-family: 'Fugaz One', cursive; head">The Stand</h2>
  </nav>


    <div id="landing">
      <div id="overlay">


        <div class="container">
          <div class="col-md-6 col-xs-12">
            <div style="color:red; text-align: center; font-size:40px" class="american">American League</div>
            <div style="color:white; text-align: center;" class="alFields">
              <ul class=alFields>
                <li><a href="/stadiums/12">-Angel Stadium of Anaheim-</a></li>
                <li><a href="/stadiums/8">-Comerica Park-</a></li>
                <li><a href="/stadiums/3">-Fenway Park-</a></li>
                <li><a href="/stadiums/2">-Globe Life Park in Arlington</a></li>
                <li><a href="/stadiums/13">-Kauffman Stadium-</a></li>
                <li><a href="/stadiums/26">-Minute Maid Park-</a></li>
                <li><a href="/stadiums/29">-Oakland Coliseum-</a></li>
                <li><a href="/stadiums/20">-Oriole Park at Camden Yards-</a></li>
                <li><a href="/stadiums/4">-Progressive Field-</a></li>
                <li><a href="/stadiums/5">-Rogers Park-</a></li>
                <li><a href="/stadiums/21">-Safeco Field-</a></li>
                <li><a href="/stadiums/22">-Target Field-</a></li>
                <li><a href="/stadiums/28">-Tropicana Field</a></li>
                <li><a href="/stadiums/27">U.S. Cellular Field</a></li>
                <li><a href="/stadiums/6">-Yankee Stadium-</a></li>
              </ul>
            </div>

          </div>





          <div class="col-md-6 col-xs-12">
            <div style="color:blue; text-align:center; font-size:40px" class="national">National League</div>
            <div style="color:white; text-align:center" class="nlFields">
              <ul class=nlFields>
                <li><a href="/stadiums/10">-At&t Field-</a></li>
                <li><a href="/stadiums/25">-Busch Stadium-</a></li>
                <li><a href="/stadiums/18">-Citi Field-</a></li>
                <li><a href="/stadiums/24">-Citizen's Bank Park-</a></li>
                <li><a href="/stadiums/7">-Chase Field-</a></li>
                <li><a href="/stadiums/1">-Coors Field-</a></li>
                <li><a href="/stadiums/30">-Dodger Stadium-</a></li>
                <li><a href="/stadiums/15">-Great American Ballpark-</a></li>
                <li><a href="/stadiums/11">-Marlins Park-</a></li>
                <li><a href="/stadiums/14">-Miller Park-</a></li>
                <li><a href="/stadiums/19">-Nationals Park-</a></li>
                <li><a href="/stadiums/17">-Petco Park</a></li>
                <li><a href="/stadiums/23">-PNC Park-</a></li>
                <li><a href="/stadiums/9">-Turner Field</a></li>
                <li><a href="/stadiums/16">-Wrigley Field</a></li>
              </ul>
            </div>


          </div>

          <!-- <div class="row heading"> -->


       <!--  </div> -->


          <!-- <div class="row heading"> -->


         <!--  </div> -->
        </div>
    </div>
  </div>














</body>
</html>
