<!DOCTYPE html>
<html ng-app="theStandApp">
<head>
  <title>Landing page</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href='https://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
  <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="color:white;">

<div class="title">
  <h1 class="titleHeader" style="color:white;  font-size: 80px; text-align: center; margin-topt:40%; font-family: 'Fugaz One', cursive; head">The Stand</h1>

  <h1 style="color:white"> Login </h1>

  <form action="/" method="post" class="form-horizontal" style="color:white;">

    <div class="form-group">
      <div class="col-sm-6">
        <label class="control-label">Username</label>
        <input class="form-control" type="text" name="username"/><br/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <label class="control-label">Password</label>
        <input class="form-control" value="password" type="password" name="password"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-8">
        <input class="btn btn-default" type="submit" value="Submit"/>
      </div>
    </div>

  </form>



  <h1> Register </h1>

  <form action="/register" method="post" class="form-horizontal">

    <div class="form-group">
      <div class="col-sm-6">
        <label class="control-label">Username</label>
        <input class="form-control" type="text" name="username"/><br/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6 col-md-6">
        <label class="control-label">Password</label>
        <input class="form-control" value="password" type="password" name="password"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-8">
        <input class="btn btn-default" type="submit" value="Submit"/>
      </div>
    </div>

  </form>


</body>
</html>
