<!DOCTYPE html>
<html ng-app="theStandApp">
<head>
  <title>Landing page</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href='https://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
  <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="title">
  <h1 class="titleHeader" style="color:white;  font-size: 80px; text-align: center; margin-topt:40%; font-family: 'Fugaz One', cursive; head">The Stand</h1>


  <div class="wrapper">
    <a href = "/auth/google" class="btn btn-danger button"><span class="fa fa-google-plus"></span>Log in with Google+</a>
  </div>
</div>


</body>
</html>
